# Darknet weights
darknet/*.weights

# Python files
__pycache__/*
darknet/__pycache__
__pycache__

# Image files
*.jpg
*.jpeg
images/*.jpg
images/*.jpeg
images/*.png
*.png
*.list
*.json
darknet/*.png
darknet/*.jpg
darknet/*.list
darknet/*.json
monodepth2/models/*
pairs/*.npz